.github{
    background-color: orange;
    width: 100px;
    height: 200px;
    animation: githubLogo 2s ease-in-out
   
}



@keyframes githubLogo{
    0% {height : 100%}
    40% {width: 100%;}
    80% {height: 100%;
        background: yellow;}
        transitions: 
        
}