.github{
    background-color: orange;
    width: 100px;
    height: 200px;
    animation-name githubLogo;
    animation-duration: 3s ;
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}



@keyframes githubLogo{
    0% {height : 100%}
    40% {width: 100%;}
    80% {height: 100%;
        background: yellow;}
        transitions: 
        
}