.github{
    background-color: orange;
    width: 100px;
    height: 200px;
    animation-name: "githubLogo";
    animation-duration: 3s ;
    animation-timing-function: ease-in-out;
    animation-iteration-count: inherit;
    animation-direction: alternate ;
}



@keyframes githubLogo{
    0% {height : 100%;
        transform: translateY(300px);}
    40% {width: 100%;
        transform: translateX(500px);}
    80% {height: 100%;
        background: crimson;
        border-radius: 100%;}
    100% {background-color: darkmagenta;
        transform: rotate(165deg);}
        
}